################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GAServices/FileContentIndex
/GAServices/bin/Debug/net6.0/GAServices.dll
/GAServices/bin/Debug/net6.0/GAServices.pdb
/GAServices/obj/GAServices.csproj.nuget.dgspec.json
/GAServices/obj/Debug/net6.0/ref/GAServices.dll
/GAServices/obj/Debug/net6.0/refint/GAServices.dll
/GAServices/obj/project.nuget.cache
/GAServices/obj/project.assets.json
/GAServices/obj/Debug/net6.0/GAServices.assets.cache
/GAServices/obj/Debug/net6.0/GAServices.csproj.FileListAbsolute.txt
/GAServices/obj/Debug/net6.0/GAServices.dll
/GAServices/obj/Debug/net6.0/GAServices.GeneratedMSBuildEditorConfig.editorconfig
/GAServices/obj/Debug/net6.0/GAServices.genruntimeconfig.cache
/GAServices/obj/Debug/net6.0/GAServices.pdb
/.vs/GAServices/v17/.suo
/.vs/GAServices/DesignTimeBuild/.dtbcache.v2
/.vs/GAServices/config/applicationhost.config
/.vs/GAServices/v17/.futdcache.v2
*.bin
/GAServices/obj/Debug/net6.0/ref/GAServices.dll
/GAServices/obj/Debug/net6.0/refint/GAServices.dll
/GAServices/obj/Debug/net6.0/GAServices.assets.cache
/GAServices/obj/Debug/net6.0/GAServices.csproj.FileListAbsolute.txt
/GAServices/obj/Debug/net6.0/GAServices.dll
/GAServices/obj/Debug/net6.0/GAServices.GeneratedMSBuildEditorConfig.editorconfig
/GAServices/obj/Debug/net6.0/GAServices.genruntimeconfig.cache
/GAServices/obj/Debug/net6.0/GAServices.pdb
/GAServices/obj/GAServices.csproj.nuget.dgspec.json
/GAServices/obj/project.assets.json
/GAServices/obj/project.nuget.cache
